.vscode
data_generation/ggwd/output/data_1_testing.zip
data_generation/ggwd/output/data_2_testing.zip
data_generation/ggwd/output/data_3_testing.zip
data_generation/ggwd/output/data_5_testing.zip
*.gz
*.v2
*.pb
*.profile-empty
