# For Generating Data
(See Phys490-Project/data_generation/ggwd/requirements.txt for more detail)

h5py
lalsuite
matplotlib
numpy
pandas
PyCBC
requests
scipy
six
sphinx
sphinx-rtd-theme
sphinxcontrib-napoleon
tqdm

# For CNN

json
matplotlib
numpy
seaborn
sklearn
sys
tensorflow

# For Bayesian CNN

argparse
Blitz *
h5py
json
matplotlib
numpy
os
seaborn
sklearn
sys
time
torch

# For Data Extraction

os
h5py
numpy
sklearn


*To properly install Blitz please follow the instructions written in the following git repo:
https://github.com/piEsposito/blitz-bayesian-deep-learning